*.class
*.DS_Store
*.egg
*.iws
*.pyc
*_dis
*~
.idea*
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea_modules/
.mypy_cache
/.cache
/.coverage
/.eggs
/.pytest_cache
/.python-version
/.tox
/.venv*/*
/ChangeLog
/PKG-INFO
/README
/README.html
/__pkginfo__.pyc
/dist
/how-to-make-a-release.txt
/nose-*.egg
/out/
/pytest/**/*.got
/tmp
/xdis.egg-info
__pycache__
atlassian-ide-plugin.xml
build
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
