include README.rst
include ChangeLog
include COPYING
include Makefile
include test/Makefile
include __pkginfo__.py
recursive-include doc *.md
recursive-include xdis *.py
recursive-exclude test __pycache__
include bin/pydisasm
recursive-include test *.py *.pyc
recursive-include test_unit *.py
